body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffffff;
}

.container {
    text-align: left;
}

h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

input {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.2em;
    margin-bottom: 0.6em;
    font-size: 1.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #370083;
    color: white;
    font-size: large;
    padding: 1em;
    width: 110%;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #7529f7;
}

.forgot-password {
    font-weight: bold;
    display: block;
    margin-top: 1em;
    color: #370083;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.social-login {
    display: flex;
    justify-content: center;
}

.social-login button {
    background: none;
    cursor: pointer;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 20px;
}

.social-login img {
    width: 40px;
    height: 40px;
}

p {
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 2em;
}

p a {
    color: #370083;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}